<div>
    <div class="panel text-center panel-default">
        <div class="panel-heading">
            New Road Trip
        </div>
        <div class="panel-body">
            <div class="form-group ">
                <input type="text" class="input-lg" placeholder="Road Trip Name" data-ng-model="newRoadTrip.name" />


                <button class="btn btn-success btn-lg" data-ng-click="AddNewRoadTrip()"><i class="fa fa-save"></i> | Save</button>
                <a href="#/myroadtrips" class="btn btn-default btn-lg"> <i class="fa fa-undo"></i> | Cancel</a>

            </div>
        </div>
    </div>
    

</div> 
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="btn-group-justified">
        <a href="#/myroadtrips" class="btn btn-default"><i class="fa fa-road"></i> | Go to Road Trips</a>
        
    </div>
</nav>